<% title "Calendar" %>

<p>
  <strong>Start Available Date:</strong>
  <%= @calendar.start_available_date %>
</p>
<p>
  <strong>End Available Date:</strong>
  <%= @calendar.end_available_date %>
</p>
<p>
  <strong>Room:</strong>
  <%= @calendar.room_id %>
</p>

<p>
  <%= link_to "Edit", edit_calendar_path(@calendar) %> |
  <%= link_to "Destroy", @calendar, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", calendars_path %>
</p>
